<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "summer_dribbble2.gif"%>)";>
  <h1>The cocktail paradise</h1>
</div>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.present? %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,10,10,0.1) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
            <p><%= cocktail.name %></p>
            <td><%= link_to 'Show', cocktail_path(cocktail) %></td>
          </div>
        </div>
      <% else %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(#)">
            <p><%= cocktail.name %></p>
            <td><%= link_to 'Show', cocktail_path(cocktail) %></td>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<%= link_to 'New cocktail', new_cocktail_path %>

