
<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li> <%= dose.description%> of <%= dose.ingredient.name %></li>
      <%= link_to dose_path(dose), class: 'btn btn-danger btn-sm', method: :delete do %>
      <p>Delete</p>
    <% end %>
  <% end %>
</ul>
<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail) %>
<%= link_to 'Go back', cocktails_path %>
<%= link_to 'Edit cocktail', edit_cocktail_path %>
